#Jsheader
{
	width: 100%;
	height: 80px;
	/* background-color: red; */
	display: flex;
	flex-direction: column;
}
#Jsheader #JsheaderTop{
	width: 100%;
	height: 50%;
	/* background-color: red; */
}
#Jsheader input{
	width: 80%;
	height: 30px;
	margin-left: 35px;
	margin-top: 10px;
	border-radius: 15px;
	background-color: #DCDCDC;
}
#JsheaderButtom{
	width: 100%;
	height: 40px;
	display: flex;
}
#JsheaderButtom .JsheaderButtomDiv{
	flex: 0.2;
	/* background-color: blanchedalmond; */
	display: flex;
	justify-content: center;
	align-items: center;
}
#JsheaderButtom .JsheaderButtomDiv:nth-child(2){
	border-bottom: 2px solid red;
}
	
